
<div>

  <div class="player-actions">
      <button  mat-raised-button color="grey"
      type="button"
      (click)="onGhinSyncClick()"
      >GHIN Sync</button>

      <button  mat-raised-button color="grey"
      type="button"
      (click)="onUpdateLast3()"
      >UpdateLast3</button>

     <button mat-raised-button color="grey"
    type="button"
    (click)="onAddUserClick()"
    >Add Player(+)</button>
  </div>

  <ag-grid-angular
  class="ag-theme-quartz"
  style="height: 70vh; width: 100%"
  [defaultColDef]="defaultColDef"
  [rowData]="players"
  [columnDefs]="colDefs">
  (gridReady)="onGridReady($event)"
  [pagination]="true"
  </ag-grid-angular>
</div>
