<div class="home-container">

  <div class="slide">
    <img class="homeimg" src="/assets/pgc.jpg" />
  </div>

  <div class="paragraph">
      <h1 style="font-family:Georgia, serif;color: #4b93ec; font-size: 36px"> Welcome to The New Jersey Princeton Golf Club</h1>

      <h1  style="font-family:Georgia, serif;color: #4b93ec; font-size: 26px">新泽西普林斯顿高尔夫球俱乐部</h1>


      <p style="font-family: Arial">
        Every golf season Princeton Golf Club hosts 4 to 5 golf games to attract golf enthusiasts around New Jersey and surrounding areas to meet and compete. This is a place where you can make new friends and enjoy a couple of golf games. 
      </p>

      <p>
        Priceton Golf Club started in 2008 and it has since hosted many successful seasons of golf tournament. Please join us if you love golf and would like to meet some new friends.
      </p>


  </div>

  <div>
    <h1 style="color: #006400;font-family:Georgia, 'Times New Roman', Times, serif;">*************** 2025 PGC Open Rewards 07/27/2025 ***************</h1>
 
  </div>

  <div style="display: flex;">
    <mat-card class="women-champion-card" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="women-champion-header-image-open"></div>
        <mat-card-title>Theresa Zhang</mat-card-title>
        <mat-card-subtitle>PGC 2025 Open Cup Women's Champion</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="/assets/Theresa_Zhang.jfif" alt="No Photo">
      <mat-card-content>
        <p>
          Theresa Zhang这次是第一次赢得PGC的比赛。　在闷热的夏日下在这个比较难的球场打出了８５杆的好成绩。祝贺她第一次夺冠！
        </p>
      </mat-card-content>

    </mat-card>

    
    <mat-card class="men-champion-card" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="men-champion-header-image-open"></div>
        <mat-card-title>Jianzhong Ding</mat-card-title>
        <mat-card-subtitle>PGC 2025 Open Cup Men's Champion</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="/assets/Jianzhong_Ding.jpg" alt="No Photo">
      <mat-card-content>
        <p>
          Jianzhong Ding在打完俱乐部比赛后有参加PGC比赛并打出了74杆的好成绩。丁博士最近的挥杆和成绩都有了很大的提高。　在最近的几场比赛里，　比如国窖杯的比赛里也打出了非常好的成绩。预祝丁博士今年百尺竿头再进一步！
        </p>
      </mat-card-content>

    </mat-card>
  </div>
  <div>
    <ag-grid-angular
    class="ag-theme-quartz"
    style="height: 900px; width:80%;margin:0 auto;"
    [defaultColDef]="rewardDefaultColDef"
    [rowData]="rewardData_open"
    [columnDefs]="rewardColDefs">
    (gridReady)="onGridReady($event)"
    [pagination]="true"
    </ag-grid-angular>
  </div>

  <div>
    <h1 style="color: #006400;font-family:Georgia, 'Times New Roman', Times, serif;">*************** 2025 PGC Open Score Results 07/27/2025***************</h1>
 
  </div>

  <div>
    <ag-grid-angular
    class="ag-theme-quartz"
    style="height: 900px; width:80%;margin:0 auto;"
    [defaultColDef]="playerScoreDefaultColDef"
    [rowData]="playerScoreData_open"
    [columnDefs]="playerScoreColDefs">
    (gridReady)="onGridReady($event)"
    [pagination]="true"
    </ag-grid-angular>
  </div>

  <div>
    <h1 style="color: #006400;font-family:Georgia, 'Times New Roman', Times, serif;">*************** 2025 PGC Master Rewards 05/04/2025***************</h1>
 
  </div>

  <div style="display: flex;">
    <mat-card class="women-champion-card" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="women-champion-header-image"></div>
        <mat-card-title>Aye Thandar Khaing 李美莲</mat-card-title>
        <mat-card-subtitle>PGC 2025 Masters Cup Women's Champion</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="/assets/Meilian_Li.jfif" alt="No Photo">
      <mat-card-content>
        <p>
          李美莲一直强调打球要保持平静的心态， 不要被自己的情绪以及环境影响。她这次比赛成功贯彻了自己的计划， 尤其推杆时的自信和平和保证了她以78杆的成绩获得女子冠军。为这个赛季在PGC赢得好成绩打下了坚实基础。
        </p>
      </mat-card-content>

    </mat-card>

    
    <mat-card class="men-champion-card" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="men-champion-header-image"></div>
        <mat-card-title>Jim Huang</mat-card-title>
        <mat-card-subtitle>PGC 2025 Master Cup Men's Champion</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="/assets/Jim_Huang.jpg" alt="No Photo">
      <mat-card-content>
        <p>
          Jim Huang最近状态非常好。比赛前在Forsgate打出了71杆的好成绩。这个良好的状态让他在这次比赛中战胜了山地球场的困难，非常自信获得了男子冠军。 充分展示了PGC老会长的实力。
        </p>
      </mat-card-content>

    </mat-card>
  </div>
  <div>
    <ag-grid-angular
    class="ag-theme-quartz"
    style="height: 900px; width:80%;margin:0 auto;"
    [defaultColDef]="rewardDefaultColDef"
    [rowData]="rewardData"
    [columnDefs]="rewardColDefs">
    (gridReady)="onGridReady($event)"
    [pagination]="true"
    </ag-grid-angular>
  </div>

  <div>
    <h1 style="color: #006400;font-family:Georgia, 'Times New Roman', Times, serif;">*************** 2025 PGC Master Score Results 05/04/2025***************</h1>
 
  </div>

  <div>
    <ag-grid-angular
    class="ag-theme-quartz"
    style="height: 900px; width:80%;margin:0 auto;"
    [defaultColDef]="playerScoreDefaultColDef"
    [rowData]="playerScoreData"
    [columnDefs]="playerScoreColDefs">
    (gridReady)="onGridReady($event)"
    [pagination]="true"
    </ag-grid-angular>
  </div>



  <div>
    <h1 style="color: #006400;font-family:Georgia, 'Times New Roman', Times, serif;">*************** 2025 PGC Upcoming Golf Tournament ***************</h1>
 
  </div>
  <div style="align-self: center; font-family: Arial, KaiTi">
    
    <mat-card class="card-class-upcoming-event">

      <mat-card-header>
        <mat-card-title>2025 PGC Classic</mat-card-title>
        <mat-card-subtitle>Date: 08-10, 2025</mat-card-subtitle>
        <mat-card-subtitle>Sponsor: Kai Yang</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://cdn.sanity.io/images/arkm1m4f/production/fd847ab15e660a3b5bddcb938d0ca301c9c013b1-1600x899.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p style="font-family: Arial, KaiTi">
        2025 PGC Classic is sponsored by Kai Yang. It will be hosted at the beautiful The Architects Golf Club. <br>
        今年PGC和美中高尔夫俱乐部联合举办的首场赛事即将开启！比赛结束后，我们将举办盛大的颁奖晚宴，并准备了多项惊喜抽奖。
        机会难得，名额有限，欢迎广大球友踊跃报名，一起挥杆竞技，共享高球盛宴！
     
      </p>

      <p style="font-family: Arial, KaiTi">
        ⛳️比赛球场: <br>
        The Architects Golf Club<br>
        700 Strykers Rd<br>
        Phillipsburg, NJ 08865<br>
        <br>
        ⏱比赛时间 ：八月十日 <br>
        Tee times starting at 12:00 <br>
        <br>


       <mat-grid-list cols="4" rowHeight="2:1">
        <mat-grid-tile><img src="../../../assets/reward/2025R1.jfif" mat-card-md-image class="reward-img1" (click)="show()" ></mat-grid-tile>
        <mat-grid-tile><img src="../../../assets/reward/2025R2.jfif" mat-card-md-image class="reward-img1" ></mat-grid-tile>
        <mat-grid-tile><img src="../../../assets/reward/2025R3.jpg" mat-card-md-image class="reward-img1" ></mat-grid-tile>
        <mat-grid-tile><img src="../../../assets/reward/2025R4.jfif" mat-card-md-image class="reward-img1" ></mat-grid-tile>
      </mat-grid-list>
      <img id="image" src="" />
      <img src="../../../assets/reward/rewardList.jpg">

 

        <ul style="text-align:left">
          报名须知:<br>
          <li>
            报名表上的＂球会会员＂一项是指PGC会员。此次比赛参加者是自愿报名参加比赛，比赛中任何损伤，与组织者、赞助商及球场无关。
          </li>
          <li>
            报名时要确保”姓名”一栏跟PGC登记用的英文名字一致。具体步骤如下：
          </li>
        
          <li>
          在微信里搜索小程序”GolfLive”, 进入GolfLive后，选择右下角＂我的＂，再按网名右边的齿轮，再按右上角的＇编辑＇，把＂姓名＂改成PGC记录上的英文名或拼音名。网名不用改。
          </li>
        </ul>

      <p>
        <br>
        赛事联系人: <br>
        👩🏻王卫(Wei Wang) <br>
        👩🏻Christine He <br>
        有问题可以在群里@以上联系人 <br>

      </p>
      <ul style="text-align:left">
        
        
        高尔夫活动球员个人免责声明 : 
  
        本人自愿参加 PGC  俱乐部的活动，并明确知悉和同意以下条款：
 
      <li>
        1.  风险承担本人知悉高尔夫运动具有一定的身体风险，包括但不限于跌倒、中暑、球具或高尔夫球击中造成的伤害等。本人自愿承担参与本活动可能带来的任何身体伤害或财产损失的风险。
      </li>
      <li>
        2.  健康声明本人确认身体健康、无任何不适合参与高尔夫活动的疾病。如在活动期间因健康问题造成不适或事故，责任由本人自行承担。
      </li>
      <li>
        3.  免责条款本人同意免除在活动期间因意外、伤害、疾病或财产损失所引起的任何法律责任。
      </li>
      <li>
        4.  行为规范本人承诺在活动期间遵守高尔夫场地的规定和活动组织者的安排，不从事任何危险或违规行为。
      </li>
   
      </ul>
    </mat-card-content> 
    <mat-card-footer></mat-card-footer>
    </mat-card>
    <br>

  </div>




  <div>
    <br>
    <h1 style="color: #006400;font-family:Georgia, 'Times New Roman', Times, serif;">*************** 2025 PGC Future Golf Tournament Events ***************</h1>
    <br>

  </div>

  <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); grid-gap: 20px;">




    <mat-card class="card-class">

      <mat-card-header>
        <mat-card-title>2025 PGC Open</mat-card-title>
        <mat-card-subtitle>Sponsor: Jim Huang</mat-card-subtitle>
        <mat-card-subtitle>Date: 07-27-2025</mat-card-subtitle>
        <mat-card-subtitle>Location: Charleston Springs Golf Course</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://golf-pass.brightspotcdn.com/dims4/default/c88664b/2147483647/strip/true/crop/960x540+0+90/resize/590x332!/quality/90/?url=https%3A%2F%2Fgolf-pass-brightspot.s3.amazonaws.com%2F3b%2F7e%2F19748b55368edc513fe6a56ecaf0%2F94648.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
          2025 PGC Open is sponsored by Jim Huang. It will be hosted at the beautiful Charleston Springs Golf Course <br>
          今年PGC的首场赛事即将开启！比赛结束后，我们将举办盛大的颁奖晚宴，并准备了多项惊喜抽奖。为了宣传和推广 PGC，本次赛事嘉宾将和会员收费相同，不收取额外费用！
          机会难得，名额有限，欢迎广大球友踊跃报名，一起挥杆竞技，共享高球盛宴！
      </p>
    </mat-card-content> 
    <mat-card-footer></mat-card-footer>
    </mat-card>

    <!--
  </div>
    <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); grid-gap: 20px;">
    -->

    <mat-card class="card-class">

      <mat-card-header>
        <mat-card-title>2025 PGC Classic</mat-card-title>
        <mat-card-subtitle>Sponsor: Kai Yang</mat-card-subtitle>
        <mat-card-subtitle>Date: 08-10-2025</mat-card-subtitle>
        <mat-card-subtitle>Location: The Architects Golf Club</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://cdn.sanity.io/images/arkm1m4f/production/fd847ab15e660a3b5bddcb938d0ca301c9c013b1-1600x899.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
          2025 PGC Classic is sponsored by Kai Yang. It will be hosted at the beautiful The Architects Golf Club. <br>
          今年PGC的首场赛事即将开启！比赛结束后，我们将举办盛大的颁奖晚宴，并准备了多项惊喜抽奖。
          机会难得，名额有限，欢迎广大球友踊跃报名，一起挥杆竞技，共享高球盛宴！
      </p>
    </mat-card-content> 
    <mat-card-footer></mat-card-footer>
    </mat-card>


    <mat-card  class="card-class">

      <mat-card-header>
        <mat-card-title>2025 PGC Championship</mat-card-title>
        <mat-card-subtitle>Date: 09-07-2025</mat-card-subtitle>
        <mat-card-subtitle>Sponsor: Heping Wang & Zili Ma</mat-card-subtitle>
        <mat-card-subtitle>Location: The Forsgate Country Golf Club Banks Course</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_jSbJcuIApgLOQ0QmR-jyC73AdStPRDT7EQ&s" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
          2025 PGC Championship is sponsored by Heping Wang and Zili Ma. It will be hosted at the beautiful The Forsgate Country Golf Club Banks Course. <br>
          今年PGC的首场赛事即将开启！比赛结束后，我们将举办盛大的颁奖晚宴，并准备了多项惊喜抽奖。为了宣传和推广 PGC，本次赛事嘉宾将和会员收费相同，不收取额外费用！
          机会难得，名额有限，欢迎广大球友踊跃报名，一起挥杆竞技，共享高球盛宴！
      </p>
    </mat-card-content> 
    <mat-card-footer></mat-card-footer>
    </mat-card>


    <mat-card class="card-class">

      <mat-card-header>
        <mat-card-title>2025 PGC Cup</mat-card-title>
        <mat-card-subtitle>Sponsor: Ping Tian & Jack Li</mat-card-subtitle>
        <mat-card-subtitle>Date: 10-12-2025</mat-card-subtitle>
        <mat-card-subtitle>Location: The Eagle Ridge Golf Club</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://assets.simpleviewinc.com/simpleview/image/upload/crm/galenacountryil/Digital-2K-long-General-number-1-looking-back-Autumn-2021-1a-_064C046D-5056-A36A-068322D237540902-064bffb45056a36_064c142d-5056-a36a-06e3d7b571e18522.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
          2025 PGC Cup is sponsored by Ping Tian & Jack Li. It will be hosted at the beautiful The Eagle Ridge Golf Club. <br>
          今年PGC的首场赛事即将开启！比赛结束后，我们将举办盛大的颁奖晚宴，并准备了多项惊喜抽奖。为了宣传和推广 PGC，本次赛事嘉宾将和会员收费相同，不收取额外费用！
          机会难得，名额有限，欢迎广大球友踊跃报名，一起挥杆竞技，共享高球盛宴！
      </p>
    </mat-card-content> 
    <mat-card-footer></mat-card-footer>
    </mat-card>


    



  </div>



  <div>
    <h1 style="color: #006400;font-family:Georgia, 'Times New Roman', Times, serif;">*************** 2025 PGC Finished Golf Tournament ***************</h1>
 
  </div>
  <div style="align-self: center; font-family: Arial, KaiTi">
    
    <mat-card class="card-class-upcoming-event">

      <mat-card-header>
        <mat-card-title>2025 PGC Masters Invitational</mat-card-title>
        <mat-card-subtitle>Sponsor: Jim Huang</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://www.theclubatmorganhill.com/images/Hole_10_green_view_edited_1.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p style="font-family: Arial, KaiTi">
          2025 PGC Masters Invitational is sponsored by Jim Huang. It will be hosted at the beautiful The Morgan Hill Golf Club. <br>

        
        Morgan Hill Golf Course, located in Easton, Pennsylvania, is a challenging and visually stunning 18-hole course designed by Kelly Blake Moran. <br>
        It's known for its dramatic elevation changes, scenic views, and unique layout that incorporates natural elements like bunkers, hollows, and wetlands. <br>
        The course has been praised for its challenging play and beautiful surroundings. <br>
        
  

          今年 PGC 的首场赛事即将开启！这次比赛设在具有挑战的Morgan Hill Golf Course. 相信很多球友都打过这个山地球场， 它有着漂亮的风景以及高高低低的球道给大家带来足够挑战。 比赛结束后将举办盛大的颁奖晚宴，我们除了给大家提供了下面众多奖项外， 还准备了丰厚的奖品给大家惊喜抽奖。机会难得，名额有限, 欢迎广大球友踊跃报名，一起挥杆竞技，共享高球盛宴!<br>

          这场比赛将分A和B两个组(flights)。按PGC球会记录的差点，前面50%的球员为A组，后面50%的球员为B组。比赛成绩会用于更新PGC球会的差点。
     
      </p>

      <p style="font-family: Arial, KaiTi">
        ⛳️比赛球场: <br>
        Morgan Hill Golf Course<br>
        100 Clubhouse Dr<br>
        Easton, PA<br>
        <br>
        ⏱比赛时间 ：六月八日 <br>
        Tee times starting at 12:00 <br>
        <br>

        参赛费用：<br>
        💰PGC会员: $120 <br>
        💰非PGC会员: $150 <br>

        费用包含球车，晚宴及酒水。此球场没有练习场。<br>
        <br>
        🏆🍻颁奖晚宴: <br>
        ⏱晚宴时间 ：6:30点开始<br>
        餐厅待定<br>
        Beer will be provided at dinner. Please drink responsibly!<br>
       </p> 


    </mat-card-content> 
    <mat-card-footer></mat-card-footer>
    </mat-card>
    <br>

  </div> 
</div>

