
<br>
<h1>Game Rules</h1>

<hr style="width:35%;text-align:center;">
<br><br>
<ul style="text-align:left">
  <li>
  【1】节奏：每个组长负责该小组的比赛节奏。每个组长请记录下开球和结束时间，并留下记录后面一 组完成的时间。如果一个组在前组结束后超过 15分钟才结束，并且该轮的总时间超过 4.5小时，则慢速组的每位球员将受到降低 
</li>
<li>
  【2】杆的惩罚，前面一组获得每人 20  美元的奖励。【 2    】 最高杆数： 双标准杆 (Double par) 是每个洞的最高杆数。
</li>
<li>
  【3】推杆：要求单差点的球员推杆推进洞。其他球员可以在推杆铁把以内免推， 由组长以及本组球员严格监督执行
</li>
<li>
  【4】罚杆：为保持进度，凡丢球、出界、红色或黄色障碍、不可打的球位均只罚一杆，在离开球进入的地方的两个球杆长度内抛球，不打暂定球。
</li>
<li>
  【5】 规则采用 USGA    ： 除了在比赛前宣布的特例，其他将按照 USGA  规则（夏季规则）进行比赛。 除了在果岭上和符合条件的补救（球车道、洒水喷头，沙坑脚印等）外 ，其它任何地方都不能触球。
</li>
<li>
  【6】 计分： 每组以为球员负责纸质成绩记录，另一位球员记录 GOLFLIVE 成绩，每位选手对自己成绩的准确性负责 . 完成 18 洞之后 ,  请务必与核实您的分数 .
</li>
<li>
  【7】 杆数相同时获胜评定： 为了确定比赛的获胜者，我们使用 USGA  决胜规则 :   也就是打平的情况下，看球员最后 9  洞的成绩， 然后看最后 6 洞，再看最后 3 洞，再看最后一个洞，然后从最后一个到第一个倒数每个洞，直到找到差别。
</li>
<li>
  【8】推杆的 GIMMY  ：在推杆的铁杆部分以内可以免推，但鹰及小鸟球须推进洞。
</li>
<li>
  【9】比赛得分及排名：每场比赛第一名得 16 分，第二名得 15 ，如此类推，一直排至第 16 名得 1 分。考虑可能安排 Scramble  等非排名的比赛， 总决赛前 N 场排名赛选 N-1 场最佳成绩的得分相加，第五场总决赛得分乘以 3  的倍数。 最后按总得分排名。如果总分相同时，决赛成绩较好者排名靠前（按USGA 标准）
</li>



</ul>

<p style="text-align: left; font-size: small;">
<br>
最多 Eagle  奖 ( 重复得奖时顺延至下一位）<br>
【 1  】 Eagle  最多<br>
【 2 】如有相同者，计算 Birdie  的数量，多者获胜<br>
【 3 】仍有相同者，计算 Par  的数量，多者获胜<br>
【 4 】仍有相同者，计算 Bougie  的数量， 多者获胜<br>
【 5 】仍有相同者，计算 Double-Bougie  的数量， 多者获胜<br>
【 6 】仍有相同者，计算比赛的总杆成绩， 成绩好者获胜<br>
<br>
最多 Birdie   奖 ( 重复得奖时顺延至下一位）<br>
【 1  】 Birdie  最多<br>
【 2 】如有相同者，计算 Par  的数量，多者获胜<br>
【 3 】仍有相同者，计算 Bougie  的数量，多者获胜<br>
【 4 】仍有相同者，计算 Double-Bougie  的数量， 多者获胜<br>
【 5  】仍有相同者，计算比赛的总杆成绩， 成绩好者获胜<br>
<br>
最多 Par  奖 ( 重复得奖时顺延至下一位）<br>
【 1  】 Par  最多<br>
【 2 】如有相同者，计算 Birdie  的数量，多者获胜<br>
【 3 】仍有相同者，计算 Bougie  的数量，多者获胜<br>
【 4 】仍有相同者，计算 Double-Bougie   的数量， 多者获胜<br>
【 5  】仍有相同者，计算比赛的总杆成绩， 成绩好者获胜<br>

</p>


