.example-spacer {
  flex: 1 1 auto;
}

.toolbar-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

.main-content {
  padding: 8px;
  min-height: calc(100vh - 128px);
}

.footer-text {
  width: 100%;
  text-align: center;
  font-size: 14px;
}

@media (max-width: 767px) {
  .toolbar-title {
    font-size: 11px;
  }
}